*, *:after, *:before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: block;
    width: 300px;
    background: #3B3B3B;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px #3B3B3B;
    font-family: roboto;
    color: #dfdfdf;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
}

.container .add{
    display: block;
    width: 100%;
    padding: 8px 0px 15px 0px;
}

.container .add .add_input{
    display: block;
    width: 100%;
    font-size: 14px
}

.container .add .add_input label{
    display: inline;
    position: relative;
    top: 20px;
}
.container .add .add_input label.active{
    animation: active_label 200ms ease-in-out forwards running;
}

.container .add .add_input label.desactive{
    animation: desactive_label 200ms ease-in-out forwards running;
}

@keyframes active_label{
    0%{
        top: 20px
    }
    100%{
        top: 2px;
        color: #00964b
    }
}

@keyframes desactive_label{
    0%{
        top: 2px
    }
    100%{
        top: 20px;
        color: #dfdfdf;
    }
}

.container .add .add_input input{
    display: block;
    width: 100%;
    border: none;
    height: 25px;
    color: #dfdfdf;
    font-family: roboto;
    font-size: 14px;
    background: transparent;
    outline: none;
}

.container .add .add_input .underline{
    display: block;
    width: 100%;
    height: 2px;
    background: #dfdfdf;
}

.container .add .add_input .underline .inside{
    display: block;
    width: 0%;
    height: 100%;
    background: #00964b;
}

.container .add .add_input .underline .inside.active{
    float: left;
    animation: active_underline 200ms ease-in-out forwards running;
}

.container .add .add_input .underline .inside.desactive{
    float: right;
    animation: desactive_underline 200ms ease-in-out forwards running;
}

@keyframes active_underline{
    0%{
        width: 0%
    }
    100%{
        width: 100%
    }
}

@keyframes desactive_underline{
    0%{
        width: 100%
    }
    100%{
        width: 0%
    }
}

.container .tasks{
    display: block;
    padding-bottom: 10px;
}

.container .tasks ul{
    display: block;
    list-style: none;
}

.container .tasks ul li{
    display: block;
    width: 100%;
    min-height: 35px;
    background: #232323;
    border-radius: 2px;
    line-height: 2.5;
    padding-left: 10px;
    cursor: move;
    margin-bottom: 5px;
    transition: all 250ms esae;
}

.container .tasks ul li:hover{
    background: #151515;
    box-shadow: 0px 1px 1px 0px #212121;
}